body {
  justify-content: flex-start;
}

/* navbar */
.container.nav {
  left: 0;
  width: max(12rem, 22vw);
  flex-shrink: 0;
  margin-right: .6rem;
}

#files {
  margin-bottom: 1.2rem;
}

#files > li {
  list-style: none;
  margin: .1rem 0;
}

#files > li > a {
  text-decoration: none;
}

#files > li > a:hover {
  text-decoration: none;
  font-weight: bold;
}

/* main section */
h1 {
  font-size: 2rem;
  margin-bottom: .6rem;
}

input#file-title-placeholder {
  width: fit-content;
  font-size: 2rem;
  margin-bottom: .6rem;
  padding-right: 2rem;
  border: none;
  outline: none;
  font-weight: bold;
}

#file-content-container {
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}

#file-content-container > * {
  padding: .3rem;
  width: 100%;
  height: 100%;
}

#file-content-container > * > ul {
  margin-left: 1.4rem;
}

#file-content-placeholder {
  white-space: pre-wrap;
  border: none;
  outline: none;
  resize: none;
  background: #ccc;
  border-radius: .3rem;
}

#markdown-content-placeholder {
  border-left: 2px solid #444;
}

#toolbar {
  display: flex;
  padding: .2rem .4rem 0 .4rem;
  margin: .6rem 0 0 0;
  margin-right: auto;
}

#toolbar > button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .3rem;
  margin-right: .1rem;
  background: none;
}

#toolbar > button:hover {
  background: rgba(0, 0, 0, .2);
  transform: none;
}

h2.files-title {
  margin: .8rem 0;
}

#files > li > a {
  display: block;
}

#new-file-name {
  padding: .2rem .3rem;
  outline: none;
  font-size: 1rem;
  width: min(100%, 12rem);
}

#new-file-submit {
  padding: .1rem .4rem;
  margin: .2rem 0;
  font-size: 1rem;
  background: #444;
}